[Unit]
Description = Kodi Library Organizer

[Service]
ExecStart = /usr/bin/twistd \
	--nodaemon \
	--python=/media/seedboxsync/libraryorganizer.py \
	--pidfile=

User=media
Group=media

WorkingDirectory=/media

[Install]
WantedBy=multi-user.target

